.Post {
  background-color: white;
  font-size: 30pt;
  text-align: center;
  
}

.container {
  font-size: 15pt;
  color: black;
  margin: 0 auto;
  width: 80%;
  border: 1px solid #3333;
  padding: 10px 0 30px 0;
  border-radius: 5px;
  margin-bottom : 50px;
}

.form-wrapper{
  color: black;
  width: 60%;
  margin: 0 auto;
}

.title-input {
  color: black;
  width: 99%;
  height: 40px;
  margin: 10px;
}

.submit-button { 
  /* margin-right: 10rem; */
  width: 200px;
  height: 50px;
  border: 2px solid #34495e;
  justify-content: center;
  float: left;
  align-items: center;
  background: black;
  font-size: 25pt;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0.2rem 0 0.2rem 0;
  margin-left: 100rem;
  /* margin-bottom: 10rem; */
  /* margin-inline-end: 100rem; */
  margin-top: 10rem;
  margin-bottom: 10rem;
  border-radius: 5px;
  vertical-align: middle;
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
  min-height: 500px;
  text-decoration: #34495e;
  /* color: black; */
}

