.Post {
  font-size: 40pt;

  justify-content: center;

  width: 100%;

  /* display: center; */

  text-align: center;

  width: 100%;

  /* margin-bottom: 50px; */
}

.container {
  font-size: 15pt;
  text-align: left;
  color: black;
  margin: 0 auto;
  width: 80%;

  border: 1px solid #333;

  padding: 10px 0 30px 0;

  border-radius: 5px;

  margin-bottom: 50px;
}

.form-wrapper{
  width: 60%;

  margin: 0 auto;
}

.title-input {
  font-size: 15pt;
  color: black;
  width: 99%;
  height: 40px;

  margin: 10px;
}

.submit-button { 
  color:white;
  width: 200px;
  height: 50px;
  border: 2px solid #34495e;
  justify-content: center;
  float: left;
  align-items: center;
  background: black;
  font-size: 25pt;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0.2rem 0 0.2rem 0;
  margin-left: 100rem;
  /* margin-bottom: 10rem; */
  /* margin-inline-end: 100rem; */
  margin-top: 10rem;
  margin-bottom: 10rem;
  border-radius: 5px;
  vertical-align: middle;

  min-height: 500px;
  font-size: 15pt;
  /* color: black; */
}

.submit-button {
  font-size: 25pt;

  display: right;

  width: 160px;

  height: 50px;

  box-sizing: border-box;

  border: 2px solid #00462a;

  /* padding: 20px; */

  /* border: none; */

  background: white;

  border-radius: 4px;
}
